* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #234e70;
}

.container {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  width: 50%;
  height: 60%;
  justify-content: center;
  align-items: center;
  background-color: #052136;
  box-shadow:2px 3px 5px  white;
}

p {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  width: 120px;
  height: 20px;
  /* position: relative; */
  /* left:210px; */
  text-align: center;
  background-color: rgb(206, 202, 196);
}

button {
  margin: 25px;
  color: black;
  background-color: #12344e;
  border: none;
  width: 65px;
  height: 25px;
  border-radius: 5px;
}

button:hover {
  color: gainsboro;
  background-color: rgba(0, 0, 0, 0.74);
}
